.dashboard{
  display: flex;
  gap: 10px;
  
}
.my-profile-section {
  display: flex;
  flex-direction: column;
  background: #2b4a5d;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;

  width: 30%;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  max-height: 50vh;
}

.peer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  background: #2b4a5d;
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

.peer-section h2 {
  color: #F79B72;
}

.btn-profile {
  background: #F79B72;
  border-radius: 0.8rem;
  margin-top: 1rem;
  color: black
}
.btn-my-profile {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 0.8rem;
  margin-top: 1rem;
  color: #F79B72
}
.btn-my-profile:hover {
  color: #fff;
}
.btn-profile:hover {
  background: white;
}

.btn-add-friend {
  background: #F79B72;
  border-radius: 0.8rem;
  margin-top: 1rem;
  color: black;
  width: 150px;

}
.profile-dp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 0.5rem;
  border: 2px solid #F79B72;
}
.btn-add-friend:hover{
  background: white;
}
.btn-friends {
  background: transparent;
  /* border: 1px solid rgb(121, 178, 37); */
  border-radius: 0.8rem;
  margin-top: 1rem;
  color: rgb(121, 178, 37);
  width: 150px;

}
.btn-friends:hover{
  background: transparent;
  
}
.btn-peer-req {
  background: transparent;
  border: 1px solid white;
  border-radius: 0.8rem;
  margin-top: 1rem;
  color: white;
  width: 150px;

}
.btn-peer-req:hover{
  background: #1b263b;
  border: 1px solid #1b263b;
}

.peer-list-items {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.college-feed{
  
}
.feed-section {
  background: white;
  
  display: flex;
  height: 100%;
  justify-content: center;
}

.feed-container {
  display: flex;
  gap: 2rem;
  max-width: 1200px; /* keeps layout centered like LinkedIn */
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevents child overflow */
  background: #1b263b;
}

/* Posts column */
.post {
  flex: 4; /* main content gets more space */
  width: 70%; /* prevent overflow */
  height: 100%;
 background: #2b4a5d;
  border-radius: 8px;
  padding: 5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  overflow: auto;
}

/* Achievements column */
.achievement {
  flex: 1.1; /* sidebar is smaller */
  min-width: 0;
  background: #2b4a5d;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  height: fit-content; /* prevents stretching unnecessarily */
  overflow: auto;
}

/* Optional: make it responsive for mobile */
@media (max-width: 768px) {
  .feed-container {
    flex-direction: column;
  }

  .achievement {
    order: -1; /* achievements above posts if desired */
  }
}
